@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700;800;900&family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --palia-rarity-default-primary: #4f6372;
    --palia-rarity-default-secondary: #3e4e5d;
    --palia-rarity-common-primary: #0b1b38;
    --palia-rarity-common-secondary: #364153;
    --palia-rarity-uncommon-primary: #21471e;
    --palia-rarity-uncommon-secondary: #487d3c;
    --palia-rarity-rare-primary: #216571;
    --palia-rarity-rare-secondary: #077d8a;
    --palia-rarity-epic-primary: #573ed2;
    --palia-rarity-epic-secondary: #3f308a;

    --palia-blue-light: #4cc6fb;
    --palia-blue: #394c6a;
    --palia-blue-dark: #2b374e;
    --palia-blue-darker: #15142d;
    --palia-sand: #fcebd2;
    --palia-sand-dark: #d2b890;
    --palia-sand-darker: #594f42;
    --palia-yellow: #fcea5d;
    --palia-pink: #ff91c4;
    --palia-pink-darker: #9a4e87;
    --palia-purple: #849cff;
    --palia-green: #41f1ac;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--palia-blue-light) hsl(var(--p));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: hsl(var(--p));
}

*::-webkit-scrollbar-thumb {
    background-color: var(--palia-blue-light);
    border-radius: 10px;
    border: 3px solid hsl(var(--p));
}

.font-heading {
    font-family: 'Martel', serif;
}

.font-body {
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    background: var(--palia-blue-darker);
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    height: auto;
}

h1,
h2,
h3,
h4 {
    @apply text-white font-semibold mb-4;
    font-family: 'Martel', serif;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

/* Item Icon */
.item-icon {
    @apply w-16 h-16 aspect-square object-contain rounded-lg border-2 cursor-pointer p-1 shrink-0 flex;
    background: var(--palia-sand);
    border-color: var(--palia-sand-dark);
}

.workshop .item-icon {
    background-color: var(--palia-blue-dark);
    border-color: var(--palia-blue)
}

/* Modal */
.modal-box {
    @apply p-0 text-white;
}

.modal-backdrop {
    @apply bg-base-100 bg-opacity-75;
}

/* Tooltip */

/* .tooltip:before {
    @apply text-base font-bold;
} */

.tippy-box {
    @apply font-bold;
    background:var(--palia-sand);
    color: var(--palia-blue-darker);
}

.tippy-box[data-placement^="top"] > .tippy-arrow:before {
    border-top-color: var(--palia-sand);
}

.tippy-box[data-placement^="right"] > .tippy-arrow:before {
    border-right-color: var(--palia-sand);
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    border-bottom-color: var(--palia-sand);
}

.tippy-box[data-placement^="left"] > .tippy-arrow:before {
    border-left-color: var(--palia-sand);
}